/*������*/
.gun-loca{
    margin-top: 15px;
    padding-left: 35px;
    padding-right: 35px;
    height: 35px;
}

.gun{
    height: 35px;
    line-height: 35px;
    background-color: blue;
}
#slide{overflow:hidden;}

.slideul1{width:3999px;}
.slideul2 li{margin-right:230px;float: left;}

/*�ײ�*/
.map-span{
	width:76px;
	line-height:18px;
	/*  -webkit-border-radius:9px;
    -moz-border-radius:9px;
    -o-border-radius:9px;
    border-radius:9px; */
}
.jump{
	display:inline-block;
	width:76px;
	height:18px;
	background-color:#c14e1f;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
    -o-border-radius:9px;
    border-radius:9px; 
}
.map{
    margin-top: 20px;
    line-height: 40px;
    padding-bottom: 20px;
    
}
.real-map {
    margin-top: 20px;
    color:#cccccc;
    background-color: #262626;
    position: relative;
}
.want-go{
    padding-top: 148px;
    display: inline-block;
    margin-left: 100px;
    font-size: 30px;
    color: #cccccc;
    font-weight: bold;
}
.bottom-menu {
	font-size: 16px;
	color:#cccccc;
	margin-top: 43px;
}
.bottom-menu a {
	color:#cccccc;
}
.bottom-menu a :LINK{
	color:#cccccc;
}
.first-li{
	color:#cccccc;
/* 	margin-right: 83px; */

}
.li-title{
	font-weight: bold;
}
.second-ul{
	padding-top: 18px;
}
.second-li{
	color:#cccccc;
	margin-bottom: 18px;
	line-height: 16px;
}
@media (max-width: 500px){
   .xs-margin{
		margin-bottom: 15px;
		padding-bottom: 15px;
	}	
}
