/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */




/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 15px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
/* @media (max-width: 354px){ 
	.carousel .item {
	  height:146px;
	}
}
@media (min-width: 355px){ 
	.carousel .item {
	  height:146px;
	}
}
@media (min-width: 555px){ 
	.carousel .item {
	  height:229px;
	}
}
@media (min-width: 768px){ 
	.carousel .item {
	 height:317px;
	}
}
@media (min-width: 992px){ 
	.carousel .item {
	  height:413px;
	}
}
@media (min-width: 1200){  
	.carousel .item {
	  height:500px;
	}
} */
	.carousel .item {
	}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
@font-face {
font-family: 'Glyphicons Halflings';
src: url('../css/hlPlat/fonts/glyphicons-halflings-regular.eot');
src: url('../css/hlPlat/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../css/hlPlat/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../css/hlPlat/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../css/hlPlat/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.group-index-banner{background: #666; overflow:hidden;}
.group-index-banner .item{height:600px; background:no-repeat center center; }

.group-index-banner .carousel-control 
{
	width:10%; 
	height:100%; 
	z-index:499;
}
.group-index-banner .carousel-control{display:none; width:10%;}
.group-index-banner:hover .carousel-control{display:block !important;}
.banner-img-text,.banner-img-text span{
	max-width: 400px;
}
/* ipad */
@media (min-width: 768px) and (max-width: 991px) {
	.group-index-banner .item{ height:450px; background-size:auto 100%;}
}
@media (min-width: 500px) and (max-width: 767px) {
	.group-index-banner .item{ height:300px; background-size:auto 100%;}
	.group-index-banner .carousel-control 
	{
		height:80%; 
	}
}
@media  (max-width: 499px) {
	.group-index-banner .item{ height:240px; background-size:auto 100%;}
	.banner-img-text,.banner-img-text span{
		max-width: 250px;
		box-size:none;
	}
	 .group-index-banner .carousel-control 
	{
		height:65%; 
	}
}
/* @media (min-width: 361px) and (max-width: 767px) {
	.group-index-banner .item {
		height: auto;
		background: no-repeat center top;
		background-size:100%;
		padding-top:88.25%;
	}
	.group-index-banner .item{ height:300px; background-size:auto 100%;}

} */
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
         -o-transition: -o-transform 0.6s ease-in-out;
            transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000;
            perspective: 1000;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
/* 




 */
#myCarousel .carousel-caption {
	width:100%;
	position: absolute;
	left: 0;
	top:0;
	z-index: 10;
	 padding-top: 0px;
	/*padding-bottom: 20px; */
	color: #ffffff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
	padding-left: 0px; 
}
 .carousel-caption .text{ 
 padding-bottom:20%;
 }
 .banner-img-text{
 	position: relative;
 }
  .carousel-indicators{
	 padding-left:25%;
	 } 
 @media  (max-width: 767px) {
	 .carousel-caption { 
	 	padding:0;
	 	bottom:0;
	 }
	#myCarousel .carousel-indicators{
	 left:80%;
	 width:30%;
	 padding-left:10%;
	 margin-left: -10%;
	 bottom:30px;
	 }
	
	
}
@media  (max-width: 399px) {
	.carousel-indicators{
	 left:65%;
	 }
	
}
.op-bottom{
	background-color:#000;
	opacity: 0.6;
	height:60px;
	position: absolute;
	bottom:0px;
	width:100%;
	padding-left: 10px;
	z-index: 2000;
}
.op-bottom h4{
	margin-top: 5px;
	}
	
.carousel-control.left {
	left: 0px;
	background: url(../../images/btn_prev.png) no-repeat left center;
}
.carousel-control.right {
	right: 0px;
	background: url(../../images/btn_next.png) no-repeat right center;
}
.banner-img-text .btn{
	display: table;
	height:38px;
	line-height: 38px;
	font-size: 18px;
	margin-bottom: 5px;
}
.show-style3{
	background-color:#fff;
	filter:alpha(opacity=60); 
	-moz-opacity:0.6; 
	opacity:0.6;
	bottom:0px;
	padding-left: 10px;
	width:300px;
	height:600px;
}

 .wrap {
            width: 400px;
            height: 600px; /* 这里的高度可以随便改，下面两个div的高度自适应 */
            overflow: hidden; /* 隐藏下面的div.inner 占用的文本流位置 */

        }

        .bg {
            height: 100%;
            background: #fff;
            opacity: 0.6;
        }

        .inner {
            position: relative;
            top: -100%; /*这里是关键 */
            height: 100%;
            padding-left: 50px;
        }
        
        
        
/*  公司动态相关CSS   */     
.news .group-index-banner{background: #fff; }
.news .group-index-banner .item{height:100%; background:no-repeat center center; }