.p-ellipsis{
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
	word-wrap:break-word;
}
.p-hidden {
	display: none;
}
.p-center {
	text-align:center;
	word-wrap:break-word;
}
.p-left {
	text-align:left;
	word-wrap:break-word;
}
.p-right {
	text-align:right;
	word-wrap:break-word;
}
.p-floatleft {
	float:left;
}
.p-floatright {
	float:right;
}
.p-full {
	width:100%;
}
.p-clear {
	clear:both;
}
.p-clear-display {
	clear:both;
	display: none;
}
.p-test {
	background-color:blue;
}
.p-topmargin {
	margin-top: 20px;
}
.p-hand {
	cursor:pointer;
}
.p-close {
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 100px;
}
.p-bold {
	font-weight: bold;
}
.nopage {
	background-image: url(../../images/common/buliding.png);
	background-repeat: no-repeat;
	height: 365px;
	width: 382px;
}