@import "default.css";

ul.dropdown li {
 	padding: 0;
}


/*-------------------------------------------------/
 * @section		Base Style Reinitiate: post-override activities
 */
@media (min-width:  1200px){
	ul.dropdown li a {
	 display: block;
	 padding: 7px 30px;
	 margin: 0px;
	 
	}
	ul.dropdown li.dir {
	 padding: 7px 30px;
	}
}
@media (min-width:  1400px){
	ul.dropdown li a {
	 display: block;
	 padding: 7px 40px;
	 margin: 0px;
	}
	ul.dropdown li.dir {
	 padding: 7px 40px;
	}
}
@media (max-width:  1199px){
	ul.dropdown li a {
		 display: block;
		 padding: 7px 20px;
		 margin: 0px;
	}
	ul.dropdown li.dir {
	 padding: 7px 20px;
	}
}
/* @media (max-width:  1139px){
	ul.dropdown li a {
	 display: block;
	 padding: 7px 12px;
	}
	ul.dropdown li.dir {
	 padding: 7px 18px 7px 18px;
	}
} */
@media (max-width:  1099px){
	ul.dropdown li a {
	 display: block;
	 padding: 7px 15px;
	}
	ul.dropdown li.dir {
	 padding: 7px 15px;
	}
}
@media (max-width:  1069px){
	ul.dropdown li a {
	 display: block;
	 padding: 7px 10px;
	}
	ul.dropdown li.dir {
	 padding: 7px 13px ;
	}
}
@media (max-width:  1049px){
	ul.dropdown li.dir {
	 padding: 7px 12px ;
	}
}
@media (max-width:  1029px){
	ul.dropdown li.dir {
	 padding: 7px 10px ;
	}
}
@media (max-width:  999px){
	ul.dropdown li.dir {
	 padding: 7px 9px ;
	}
}
ul.dropdown ul li.dir {
 padding-right: 15px;
}


/*-------------------------------------------------/
 * @section		Custom
 */

ul.dropdown ul a {
	 color: #d34d2e;
}

ul.dropdown ul a:hover {}

ul.dropdown ul a.dir {
}
ul.dropdown ul a:link	{ color: #d34d2e; text-decoration: none; }
ul.dropdown ul a:hover		{ color: #ffffff; }
ul.dropdown ul a:active	{ color: #ffa500; }