*{
	margin: 0px;
	padding: 0px;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 闁跨喓绮ㄩ弸鍕帗闁跨喐鏋婚幏锟�*/
dl, dt, dd, ul, ol, li, /* list elements 闁跨喎褰ㄩ幉瀣閸忓啴鏁撻弬銈嗗 */
pre, /* text formatting elements 闁跨喍鑼庨幉瀣闁跨喐鏋婚幏宄扮础閸忓啴鏁撻弬銈嗗 */
fieldset, lengend, button, input, /* form elements 闁跨噦鎷�閸忓啴鏁撻弬銈嗗 */
th, td { /* table elements 闁跨喐鏋婚幏鐑芥晸閻ㄥ棭浜烽幏鐑芥晸閿燂拷 */
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	font-family: "Microsoft YaHei",SimHei;
}
ul, ol ,li{ list-style: none; }
ul{list-style:none;}
li{float:left;}
a { color: #000000;text-decoration: none;}
a:hover { color: #815b00;text-decoration:none;}
a:link {text-decoration:none;color: #000000;}
a:visited {color: #000000;text-decoration:none;}
img {
	border: 0px;
	outline:none;
	outline-color:none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border:0;
}
hr {
	border: none;
	height: 1px;
}
/*新闻*/
.new{


}
.title-new{
    margin-bottom: 25px;
    margin-top: 25px;
}
.title-font{
    font-size: 40px;
    color:#404040;

}
.l-wi{
  /*   max-height:548px; */
    /* max-width:362px; */
   /*  background-color: #414041; */
}
.l-wi a,.l-wi a:link{
   color:#414041;
}
@media (max-width: 1199px){
   .l-wi{
   	 margin-bottom: 10px;
	}
} 
@media (min-width: 499px){
	.l-wi{
   	 float: left;
	}
}
.news-txt{
	font-weight:400;
	/* margin-left: 25px;
	margin-right: 25px; */
	margin-top: 18px;
	/* height: 56px; */
}
.news-title-lo{
	font-size: 18px;
	margin-bottom: 15px;
}
.news-txt-lo{
	color:#fff;
}
.news-txt h4{
	font-size: 16px;
	line-height:28px;
}
/*提供*/
.title-pro{
    margin-bottom: 87px;
    margin-top: 97px;
}
.pro-font{
    font-size: 18px;
}
.pro .row img{
    margin-bottom: 17px;
}
.bot-loca{
    padding-left: 15px;
    padding-right: 15px;
  /*   margin-top: 118px; */
}
.bot-line{
    border: 1px solid #e7a616;
}

.box a{
     display: block;
 }
.box{
    width: 231px;
    height: 231px;
    border: 3px solid transparent;
    border-radius: 50%;
    display: table;
    text-align: center;
    margin:0 auto;
    line-height: 231px;
}
.box:hover{
    border: 3px solid #0287c9;
}
.box img{
    width: 200px;
    height: 200px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}
.box :hover img{
    width: 150px;
    height: 150px;
}
.news-con-list li{
	float:none;
}

.star-img{
	max-width: 10px;
}
.pro{
	margin-bottom: 30px;
}

/* 滚动CSS */
#marquee3{position:relative;overflow:hidden;height:100%;}
#marquee3 ul{position:absolute;left:0px;top:0px;}/*height:368px;  */
#marquee3 li{float:left;}/*overflow:hidden;height:46px;  */
#marquee3 li a{float:left;display:inline-block;}