
.pppo{
	position: relative;
}

.temp_cap4{
	background: url("../images/temp/52a02c0b36c6b7a4352818d5fad0d5fb.png")  no-repeat ;	
	background-size:100%;
	background-position: -169px 0px; 
	width:336px;
	height:211px;
	position: absolute;

	left:-185px;
	top:-110px;
}
@media (max-width: 820px){ 
.temp_cap3{
	left:-315px;
}
.temp_cap4{
	left:305px;
}
}