/** top **/
#container{
	background-color: #d34d2e;
	height:55px;
    line-height:55px;
    color:#ffffff;
}
.top a{
    color:#ffffff;
}
#nav{
	background-color: #d34d2e;
    position: relative;
    width: 100%;
    z-index: 998;
 /*    border-bottom: 1px solid #ff6600; */
}
.nav-shadow{
	 box-shadow:5px 5px 3px rgba(0,0,0,.15);
}
/* #nav .navlist a {
   margin-right: 52px;
}
*/
.search-li  {

}

 .search-input  {
     width: 160px;
     height:35px;
     display:inline;
}
.search-input-big  {
    top:12px;
    height: 60px;
/*     line-height:60px; */
}
.search-input-small  {
    top:10px;
    height: 40px;
/*     line-height:40px; */
}
.img-li{
	  
}
.img-li-big{
    top:20px;
}
.img-li-small {
    top:0px;
}
.dropdown-line-height{
    line-height: 41px;
}
.dropdown-line-height-small{
    line-height: 40px;
/*     margin-top: 10px; */
}
/*�Ҳർ��*/
#tab_main_nav_mobile {
	display: none;
}

#tab_main_nav_mobile_next_container a,#tab_main_nav_mobile_container a{
	color:#373737;
	}
#tab_main_nav_mobile_next_container,#tab_main_nav_mobile_container {
	position: fixed;
	z-index: 888;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	background:#fff;
	overflow:auto;
}
#tab_main_nav_mobile_next_container ul li.title{
	color:#333;
	font-weight:bold;
	background:#f7f7f7;
	}
#tab_main_nav_mobile_next_container{
	z-index: 889;
	background:#f1f1f1;
	}
#tab_main_nav_mobile_next_container ul{
	display:none;
	float: none;
	}
#tab_main_nav_mobile_next_container h3{
	border-bottom: 1px solid #ededed;
	font-size:16px;
	color: #373737;
	height:48px;
	margin:0px;
	line-height:48px;
	text-align:center;
	}	
#tab_main_nav_mobile_next_container ul li,#tab_main_nav_mobile_container ul li {
	border-bottom: 1px solid #ededed;
	padding:10px 20px;
	font-size:16px;
	color: #373737;
	float: none;
}
#tab_main_nav_mobile_container ul li.hasmore i{
	padding-left:15px;
	float:right;
	} 
#tab_main_nav_mobile_container ul li.hasmore i:AFTER{
	content:">";float:right;
	position: absolute;right:20px;
} 
#tab_main_nav_mobile_next_container ul li{
	border-bottom: 1px solid #e8e8e8;
	}
#tab_main_nav_mobile_container ul li i{
	padding-left:15px;
	height:20px;
	float:right;
	}
#tab_main_nav_mobile_container ul li.link-list{
	border-bottom:0px;
	padding:0px;
	background:#f7f7f7;
	display:none;
	}
#tab_main_nav_mobile_container ul li.link-list a{
	border-bottom: 1px solid #ededed;
	padding:10px 20px;
	font-size: 16px;
	color: #373737;
	}
#tab_main_nav_mobile_next_container,#tab_main_nav_mobile_container ul li a{
	display:block;
	color:#373737
	}
#tab_main_nav_mobile_container ul li em{
	padding-left:20px;
	background:url(../../../../../ucmf/groups/public/documents/webasset/icon_home_red.png) left center no-repeat;
	}
#tab_main_nav_mobile_container ul li.home{
	color:#d32855;
	}
#tab_main_nav_mobile_container ul li.home i{
	background:url(../../../../../ucmf/groups/public/documents/webasset/icon_slide_down_m.png) left center no-repeat;
	}
#tab_main_nav_mobile_container ul li.home.active i{
	background:url(../../../../../ucmf/groups/public/documents/webasset/icon_slide_up_m.png) left center no-repeat;
	}
#tab_main_nav_mobile_container ul li.search{
	height:40px;
	border-left:1px solid #ededed;
	padding:0px 20px; 
	}
#tab_main_nav_mobile_container ul li.search a{
	display:inline-block;
	}
#tab_main_nav_mobile_container ul .search div {	
	border-radius:5px;
	text-align: left;
	padding-right: 10px;
	line-height:40px;
}
#tab_main_nav_mobile_container ul .search div input {
	width: 85%;
	outline: none;
	resize: none;
	border: 0px solid #ededed;
	height: 30px;
}
#container .visible-sm{
	margin-right: 30px;
}
#tab_main_nav_mobile_next_container,#tab_main_nav_mobile_container {
	position: fixed;
	z-index: 999;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	background:#fff;
	overflow:auto;
}

#container.mobile-menu-open {
left: -100% !important;
}
#tab_main_nav_mobile_container.mobile-menu-open , #tab_main_nav_mobile_next_container.mobile-menu-open{
right: 0 !important;
box-shadow: -5px 0px 10px rgba(0,0,0,.2);
}
#container, #tab_main_nav_mobile_container, #tab_main_nav_mobile_next_container {
-webkit-transition: all 300ms ease-in;
-moz-transition: all 300ms ease-in;
-ms-transition: all 300ms ease-in;
-o-transition: all 300ms ease-in;
transition: all 300ms ease-in;
}

.model-select-box {
    width: 100px;
    height: 27px;
    line-height: 27px;
    margin-right: 20px;
    text-indent: 5px; 
    position: relative;
}

.model-select-text {
	 height: 27px;
    text-align: left;
    background: no-repeat right 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    background-image: url(../../images/arrow_down.png);
    background-position:right center;
/*     background-position-Y:center; */
	vertical-align: middle; 
}

.model-select-option {
      display: none; 
	  margin: 0;
      padding: 0;
      position: absolute;
      background: #fff;
      width: 99px;
      left: -1px;
	 margin-left:9px;
      border: 1px solid #aaa;
      z-index:999;
  }
  .model-select-option li {
      height: 22px;
	  text-align: left;
      line-height: 22px;
      color: #555;
      cursor: pointer;
      float:none;
  }

 .model-select-option li.seleced {
      background: #06C;
      color: #fff;
  }

  
.search-header  { display:none;background: #999; overflow:hidden;}
.search-header div{
	border: 1px solid #ededed;
	border-radius: 5px;
	text-align: left;
	background: #fff;
	margin: 8px 10px;
}
.search-header div input {
	border-radius: 5px;
	width: 88%;
	outline: none;
	resize: none;
	height: 55px;
	line-height: 55px;
	border:none;
	padding-left:5px;
}
.search-header div a {
display:inline-block; height:100%;
padding-left: 5px;
width:10%;
text-align: center;
}